/*导航栏*/
.navbar-brand{
	padding-left: 50px;
	color: #fff !importment;
	font-size: 22px;
	font-weight: bolder; 
	position: relative;
}
.navbar-brand > span{
	color: #fff;
	position:absolute;
	left: 0;
}
.navbar-inverse .navbar-brand {
	color: #fff;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
	border-color: #337ab7;
}
.navbar-inverse{
	background-color: #055891;
}
.log_info{
	line-height: 70px;
	color: #fff;
	font-size: 18px;
}
.log_info > a{
	text-decoration: none;
}
.log_info > a > i{
	color: #fff;
	right: 0;
}
.log_info > a > i:hover{
	color: red;
}
/*侧边栏*/
#sidle_bar{
	width: 220px;
	background: #f0f0f0;
	margin-top: -20px;
	float: left;
}
.sidlebar_title {
	width: 220px;
	height: 55px;
	position: relative;
	padding-left: 10px;
	background: #f0f0f0;
	z-index: 1;
	font-size: 18px;
}

.sidlebar_title > p{
	margin: 0;
	position: absolute;
	bottom: 0;
	border-bottom: 1px #ccc solid;
	width: 210px;
	padding-bottom: 5px;
}


.sidlebar_title > p > span:first-child{
	font-size: 18px;
}
.sidlebar_title > p > span:last-child{
	font-size: 14px;
}

.sidlebar_content{
	width: 220px;
	height: 100%;
	background: #f0f0f0;
	z-index: 0;
	padding-top: 135px;
	overflow-x: hidden;
	overflow-y: scroll;
	padding-left: 10px;
}

.sidlebar_content > a{
	color: #333;
	text-decoration: none;
	display: block;
	height: 30px;
	line-height: 30px;
}

.sidlebar_content > a > i{
	padding-right: 20px;
	font-weight: bolder;
	color:#314CB7;
}

.sidlebar_content > ul {

}

.sidlebar_content > ul > li{
	list-style: none;
	padding-top: 8px;
}

.sidlebar_content > ul > li > a{
	color:#333;
	text-decoration: none;
}

.sidlebar_content > ul > li > a:hover{
	color:#314CB7;
}

.sidlebar_content > ul > li > a > i{
	color:#314CB7;
	font-weight: bolder;
	padding-right: 6px;
}

.navactive{
	color:#031F8D !important;
	font-weight: bolder !important;
}

/* 路径导航 */
#path_nav{
	margin-left: 240px;
	padding-right: 10px;
}
#path_nav > ol>li>a{
	font-size: 18px;
	text-decoration: none;
}
.breadcrumb{
	background: #fff !important;
	margin: 0;
	border-bottom: 1px #ccc solid;
	border-radius: 0;
}

#iframe-contant{
	z-index: -1;
	padding-left: 240px;
	padding-top: 150px;
}
